.wy-menu-vertical li.toctree-l2,
.wy-menu-vertical li.toctree-l3,
.wy-menu-vertical li.toctree-l4,
.wy-menu-vertical li.toctree-l5 { display: none !important; }

.wy-menu-vertical li.toctree-l1 > a { font-weight: 600; }
